<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" >
    <title>FPV Hobby</title>


    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=m-vyDDnPJA8F-QmiMevp_K6zlBeScG2AsxsXg_Bsu96z3xrBoPngMnqWOUlILjUGFyYDzEB0E6c1_oeYbN2L1AXvF0bAc0-bNpB9eTEAsYNUudT85DcL2JV1tpCel4pT" charset="UTF-8"></script>
   



</head>
<body>
    

   
<header>
    <h1>Issam Alzouby</h1>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        
        <li class="dropdown">
            <a href="#">Stuff</a>
            <ul class="dropdown-content">
                <li><a href="stuff.html">Stuff</a></li>
                <li><a href="hobby/index.html">Midterm</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="form.html">Form</a></li>
                <li><a href="crap.html">crap</a></li>
                <li><a href="calculator.html">Calc 1</a></li>
                <li><a href="calculatortry.html">Calc 2</a></li>            
                <li><a href="byo_intro.html">BYO Intro</a></li>     
                <li><a href="arrays.html">Arrays</a></li>  
                <li><a href="stuff/badpage.htm">Crappy</a></li>  
                <li><a href="interactiveDrawing.html">Drawings</a></li>  
                <li><a href="slideshow.html">Gallery</a></li>  


            </ul>
        </li>
       
        ||
        <a href="clients.html">Client Projects </a>
    </nav>
</header>


    <script src="scripts/page.js"></script>

</body>
</html>